{% extends "base.html" %}

{% block content %}

    <form action="/boards/search", method="POST",id="cdiv">
        <label for="Board_name">Board name</label>
        <input type="text" name="search_query">
        <button type="submit" class="btn btn-primary">search</button>
    </form>

    <Style>
        body {
            background-color: rgb(157, 255, 0);
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #centered-div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
        }
       
       
            

    </Style>
    {% endblock %}