{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <hr>
    <div class="description">
        <p> We are the small team that programmed this website. We used multiple technologies in the process.</p>
        <br>
    </div>
    <div class="empha">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>
            <li>Flask</li>
            <li>SQL</li>
            <li>Jinja</li>
        </ul>
    </div>
{% endblock %}