<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KanBan Board Creation</title>
</head>
<body>
    <h1>Create Board</h1>
    <p>This is where you can create a new Kanban board</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.name.label}}
            {{ form.name }}
            {{ form.visibility.label }}
            {{ form.visibility }}
            {{ form.submit }}
        </form>
    </div>
</body>
</html>