{% extends "base.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/boards.js') }}"></script>
{% endblock %}

{% block content %}
    {% if not session['is_login'] %}
        <h2>Welcome to our website!</h2>
        <p>This is the homepage of our Flask Auth App.</p>
    {% else %}
        <ul class="list-group board-display" id="boards-list">
            <li class="list-group-item"><h2>Available Boards</h2></li>
                {% if not boards %}
                    <li class="list-group-item">No Boards To Display</li>
                {% else %}
                    {% for board in boards %}
                        <a id="{{ board['id'] }}" class="list-group-item list-group-item-action" href="board/{{ board['id'] }}">{{ board['boardname'] }}</a>
                    {% endfor %}
                {% endif %}
        </ul>
    {% endif %}
{% endblock %}
