{% extends "base.html" %} 

{% block title %}
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
{% endblock %} 

{% block content %}
    {%  for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissble fade show" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form method="post" class="bg-white shadow-sm centred login-form">
        {{ form.csrf_token }}
        <h1>Login</h1>
        <div class="form-container">
            <label for="email" class="raised">Email</label>
            {{ form.email }}
            <label for="password" class="raised">Password</label>
            {{ form.password }}<br />
        </div>
        {{ form.submit }}
        <input type="submit" value="Login" class="btn btn-primary">

    </form>
{% endblock %}
