{% extends "base.html" %} 

{% block title %}
    <title>Register</title>
{% endblock %} 

{% block content %}
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {{ form.email.label }}<br>
        {{ form.email }}<br>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {{ form.confirm.label }}<br>
        {{ form.confirm }}<br>
        {{ form.submit }}
        <input type="submit" value="Register">
    </form>
{% endblock %}



