body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body:has(.login-form), body:has(.board-display) {
  background-image: linear-gradient(to top right, rgba(111, 66, 192, 1), rgba(13, 110, 240, 1));
}

.centred {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.login-form h1 {
  text-align: center;
}

.login-form * {
  width: 100%;
}

.login-form :not(label):not(:last-child) {
  margin-bottom: 1rem;
}

.form-container {
  border: 1px solid;
  color: var(--bs-body-color);
  border-radius: var(--bs-border-radius);
  border-color: var(--bs-border-color);
  margin: 0px;
  padding: 0px;
}

.form-container input:not([type="submit"]) {
  margin: 0px;
  padding: 0.8rem;
  text-align: center;
  border: 0px var(--bs-border-color);
}

.form-container input::placeholder {
  text-align: center;
}

.form-container input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid;
  border-radius: 0px;
  border-color: black;
}

.form-container label {
  margin-bottom: 0px;
  padding: 0.375rem 0.75rem;
  width: 100%;
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--bs-border-color);
  /* border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0; */
}

.form-container label:is(:first-child) {
  border-top: none;
}

p.danger {
  color: var(--bs-danger);
}

div.formHelpers {
  margin-top: 5px;
  padding-top: 5px;
  line-height: 0;
  opacity: 0.75;
}

.login-form .form-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.login-form .input-group input:focus {
  outline: none;
  box-shadow: none;
  border-color: black;
}

#create .form-select {
  max-width: max-content;
  margin: 0px;
}

.board-display {
  text-align: center;
  position: absolute;
  background-color: white;
  left: 5%;
  margin: 2rem 0;
  width: 90%;
  min-width: 200px;
  min-height: 200px;
}

#boards-header {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.boards-heading {
  justify-self: center;
}

.boards-mod-menu {
  display: flex;
  width: 25%;
  position: absolute;
  right: 0.375rem;
}

.search-options {
  width: 100%;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.search-icon {
  margin-right: 0.25rem;
  opacity: 0.75;
}

.filter-btn {
  opacity: 0.75;
}

.search-bar {
  width: 88%;
  margin-top: 0.375rem;
  border: none;
}

.search-bar:focus {
  outline: none;
}

.empha{
    margin:2% 2%;
    font-size: 30;
    font-weight: bolder;
}
  
.description{
    font-style: italic;
    font-size: x-large;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%, 4%;
}

.image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px
}

.btn-right{
    float: right;
}

.nav-link{
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right:1%;
}

.info{
    background-color: beige;
    padding: 2%;
}

thead {
    border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

tr .name-col {
  width: 12.5%;
}

tr .desc-col {
  width: 40%;
}

tr .mod {
  width: 5%;
  cursor: pointer;
}

.board-action {
  background-color: none;
  border: none;
}

.modal-content {
  text-align: center;
}

.modal-content b {
  color: red;
}

.board-mod-btn {
  cursor: pointer;
}

.board-desc {
  font-size: small;
  max-height: 5rem;
}